//Percentage circels

//MS Office 
@keyframes animate1 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(135deg);
    }
}
//HTML
@keyframes animate2 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(140deg);
    }
}
//CSS
@keyframes animate3 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(165deg);
    }
}
//Javascript
@keyframes animate4 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(100deg);
    }
}
//Visual Studio Code
@keyframes animate5 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(140deg);
    }
}
//Paintshop Pro
@keyframes animate6 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}

