@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@-webkit-keyframes animate5 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@keyframes animate5 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

@-webkit-keyframes animate6 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes animate6 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Heebo', sans-serif;
}

.header {
  background-color: #dee0e4;
  text-align: center;
  border-bottom: 2px solid #7cdafd;
  border-top: 25px solid #7cdafd;
}

.header__image {
  width: 120px;
  border-radius: 50%;
  border: 2px solid #7cdafd;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 25px;
}

nav {
  padding-top: 20px;
}

nav i::before {
  font-size: 35px;
  margin-left: 15px;
  padding-top: 25px;
}

nav .nav__list {
  display: block;
  width: 200px;
  height: 100px;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 320px;
  -webkit-transition: all 20ms linear;
  transition: all 20ms linear;
  z-index: 1000;
}

nav .nav__list ul {
  border: 1px solid #7cdafd;
  padding-left: 0;
  background-color: #dee0e4;
  -webkit-transition: all 20ms linear;
  transition: all 20ms linear;
  z-index: 1000;
}

nav .nav__list li {
  margin: 10px 0;
  padding-left: 5px;
  list-style: none;
}

.main__container {
  width: 100%;
  margin: 0 10px;
}

.main__container--home h4 {
  text-align: center;
  font-style: italic;
}

.main__container--home .language {
  margin-bottom: 0;
}

.main__container--home .language-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main__container--home .language-container h5 {
  margin-left: 10px;
  margin-top: 0;
}

.main__container--experience {
  padding: 0 15px;
}

.main__container--education h4 {
  font-size: 0.9em;
}

.main__container--training .training-object {
  border-bottom: 1px solid #7cdafd;
}

.main__container--codes .code-object {
  border-bottom: 1px solid #7cdafd;
  padding: 0;
}

.main__container--codes .code-object a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 25px;
  text-decoration: none;
}

.skill-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0;
}

.skill-display li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-display li .box-area {
  background-color: #dee0e4;
  border-radius: 50%;
  margin: 8% auto;
  width: 100px;
  height: 100px;
}

.skill-display li .round, .skill-display li .inner-box {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.skill-display li .round {
  clip: rect(0px, 100px, 100px, 50px);
}

.skill-display li .inner-box {
  clip: rect(0px, 50px, 100px, 0px);
  background-color: #7cdafd;
}

.skill-display li .round.outer, .skill-display li .inner-box {
  -webkit-animation: animate ease 1000ms;
          animation: animate ease 1000ms;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.skill-display li .number {
  width: 80px;
  background: #fff;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: black;
  position: absolute;
  z-index: 90;
  font-weight: 900;
  height: 80px;
  border-radius: 50%;
}

.skill-display li p {
  position: absolute;
  margin-top: 0;
  left: 10%;
  bottom: 10%;
  font-size: 13px;
  font-weight: 200;
}

.skill-display li:nth-child(1) .round.outer, .skill-display li:nth-child(1) .inner-box {
  -webkit-animation: animate1 ease 2000ms;
          animation: animate1 ease 2000ms;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.skill-display li:nth-child(1) p {
  left: 35%;
}

.skill-display li:nth-child(2) .round.outer, .skill-display li:nth-child(2) .inner-box {
  -webkit-animation: animate2 ease 2000ms;
          animation: animate2 ease 2000ms;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.skill-display li:nth-child(2) p {
  left: 35%;
}

.skill-display li:nth-child(3) .round.outer, .skill-display li:nth-child(3) .inner-box {
  -webkit-animation: animate3 ease 2000ms;
          animation: animate3 ease 2000ms;
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
}

.skill-display li:nth-child(3) p {
  left: 20%;
}

.skill-display li:nth-child(4) .round.outer, .skill-display li:nth-child(4) .inner-box {
  -webkit-animation: animate4 ease 2000ms;
          animation: animate4 ease 2000ms;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.skill-display li:nth-child(4) p {
  left: 35%;
}

.skill-display li:nth-child(5) .round.outer, .skill-display li:nth-child(5) .inner-box {
  -webkit-animation: animate5 ease 2000ms;
          animation: animate5 ease 2000ms;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.skill-display li:nth-child(5) p {
  left: 35%;
}

.skill-display li:nth-child(6) .round.outer, .skill-display li:nth-child(6) .inner-box {
  -webkit-animation: animate6 ease 2000ms;
          animation: animate6 ease 2000ms;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.skill-display li:nth-child(6) p {
  right: 5%;
}

footer {
  height: 35px;
  background-color: #7cdafd;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer span a {
  color: #fff;
  text-shadow: 0 0 2px black;
  font-size: 25px;
}
/*# sourceMappingURL=Styles.css.map */