@import "./Variabelen";

//mobile
body {
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Heebo', sans-serif;
}

.header{
    background-color: $secondary;
    text-align: center;
    border-bottom: 2px solid $mainColor;
    &__image{
        width:120px;
        border-radius: 50%;
        border:2px solid $mainColor;
        justify-self: center;
        margin-top:25px;
    } 
}

nav{

    padding:10px;
    i::before{
        font-size: 30px;;
    }
}

