@import "./Variabelen";

//mobile
.body {
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Heebo', sans-serif;
}

.header{
    background-color: $secondary;
    text-align: center;
    border-bottom: 2px solid $mainColor;
    border-top:25px solid $mainColor;
    &__image{
        width:120px;
        border-radius: 50%;
        border:2px solid $mainColor;
        justify-self: center;
        margin-top:25px;
    } 
}


nav{
    padding-top:20px;
    i::before{
        font-size: 35px;
        margin-left: 15px;
        padding-top:25px;
    }
    .nav__list{
        display:block;
        width: 200px;
        height: 100px;;
        visibility: hidden;
        position: fixed;
        left:0;
        top:320px;
        transition: all 20ms linear;
        z-index: 1000;
        ul{
            border:1px solid $mainColor;
            padding-left:0;
            background-color: $secondary;
            transition: all 20ms linear;
            z-index: 1000;
        }
        li{
            margin: 10px 0;
            padding-left:5px;
            list-style: none;
           
        }
    }
}

.main{
    width:100%;
    &__container--home{
        padding:0 15px;
        h4{
            text-align: center;
            font-style: italic;
        }
    }
}

.skill-display{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    & li {
        list-style: none;
        margin:0;
        padding:0;
        .box-area {
            background-color:$secondary;
            border-radius:50%;
            margin:8% auto;
            width: 200px;
            height: 200px;
        }
        .round,.inner-box{
            position: absolute;
            border-radius: 50%;
            width:200px;
            height: 200px;
        }
        .round{
            clip: rect(0px, 200px, 200px, 100px);
        }
        .inner-box{
            clip: rect(0px, 100px, 200px, 0px);   
            background-color:rgb(124,218,253);
        }
        .round.outer, .inner-box{
            animation: animate ease 1000ms;
            transform: rotate(150deg);
        }
        .number{
            width:180px;
            background:#fff;
            line-height: 20px;
            text-align: center;
            margin-top:10px;
            margin-left: 10px;
            font-size: 22px;
            color:black;
            position: absolute;
            z-index: 90;
            font-weight: 900;
            height: 180px;
            border-radius: 50%;
        }
        p { 
            text-align: center;
            position: absolute;
            margin-top:0;
            left:10%;
            bottom: 10%;
            font-size: 27px;
            font-weight: 200;
        }
    }
    li:nth-child(1){
        .round.outer, .inner-box{
            animation: animate1 ease 2000ms;
            transform: rotate(135deg);
        }
        p { 
            left:35%;
        }
    }
    li:nth-child(2){
        .round.outer, .inner-box{
            animation: animate2 ease 2000ms;
            transform: rotate(140deg);
        }
        p { 
            left:35%;
        }
    }
    li:nth-child(3){
        .round.outer, .inner-box{
            animation: animate3 ease 2000ms;
            transform: rotate(165deg);
        }
        p { 
            left:20%;
        }
    }
    li:nth-child(4){
        .round.outer, .inner-box{
            animation: animate4 ease 2000ms;
            transform: rotate(100deg);
        }
        p { 
            left:35%;
        }
    }
    li:nth-child(5){
        .round.outer, .inner-box{
            animation: animate5 ease 2000ms;
            transform: rotate(140deg);
        }
        p { 
            left:35%
        }
    }
    li:nth-child(6){
        .round.outer, .inner-box{
            animation: animate6 ease 2000ms;
            transform: rotate(180deg);
        }
        p { 
            right:5%;
        }
    }
}

footer {
    height: 35px;
    background-color: $mainColor;
    span{
        display:flex;
        justify-content: space-around;
        a{
            color:#fff;
            text-shadow: 0 0 2px black;
            font-size: 25px;;
      
        }
    }

}

